<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>...</title>
</head>
<body style="margin: 0; padding: 0; background-color: #fff;">
  <table width="100%" cellspacing="0" cellspacing="0">
    <!-- Start: Optional message -->
    <tr style="background-color: #f0f2f4">
      <td align="center">
        <table cellspacing="0" cellspacing="0" width="500">
          <tr>
            <td style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 14px; padding-top: 20px; padding-bottom: 20px;">
              <a href="" style="color: #788999; font-size: 10px;">Bekijk deze mail in de browser</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- End: Optional message -->

    <!-- Start: Header with logo -->
    <tr style="background-color: #fff">
      <td align="center">
        <table cellspacing="0" cellspacing="0" width="500">
          <tr>
            <td style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 14px; padding-top: 30px; padding-bottom: 30px;">
              <a href="" target="_blank">
                <img src="images/logo@2x.png" alt="Logo .." width="100px" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- End: Header with logo -->

    <!-- Start: Content -->
    <tr style="background-color: #f0f2f4">
      <td align="center">
        <table cellspacing="0" cellspacing="0" width="500">
          <tr>
            <td style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 14px; padding-top: 60px; padding-bottom: 60px;">
              <p>Beste ...,</p>
              <p>Dit is een <a href="#" style="color: #0073FF;">www.domein.nl</a>...</p>
              <a href="" style="color: #fff; text-decoration: none; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background-color: #ff5816; border-top: 18px solid #ff5816; border-bottom: 18px solid #ff5816; border-right: 40px solid #ff5816; border-left: 40px solid #ff5816; display: inline-block;" target="_blank">Button</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- End: Content -->

    <!-- Start: Footer socials -->
    <tr style="background-color: #e3E7ea;">
      <td align="center">
        <table cellspacing="0" cellspacing="0" width="500">
          <tr>
            <td style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 14px; padding-top: 30px; padding-bottom: 30px;">
              <a href="" target="_blank" style="text-decoration: none; padding: 10px;">
                <img src="mail-facebook@2x.png" alt="Facebook" width="42px" %>
              </a>
              <a href="" target="_blank" style="text-decoration: none; padding: 10px;">
                <img src="mail-twitter@2x.png" alt="Twitter" width="42px" %>
              </a>
              <a href="" target="_blank" style="text-decoration: none; padding: 10px;">
                <img src="mail-linkedin@2x.png" alt="Linkedin" width="42px" %>
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- End: Footer socials -->

    <!-- Start: Copyright -->
    <tr style="background-color: #fff">
      <td align="center">
        <table cellspacing="0" cellspacing="0" width="500">
          <tr>
            <td style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 14px; padding-top: 20px; padding-bottom: 20px;">
              Copyright &copy; 2017 ...
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- End: Copyright -->
  </table>
</body>

</html>
